*
!.gitignore
!LICENSE
!SECURITY.md
!DISCLAIMER.md
!README.md
!bitnion.jpg
!bitnion.png
!docs/
!docs/crowdsale_instructions.md
!docs/premine_policy.md
!docs/crowdsale_log.md
!docs/tokenomics.md
!CONTRIBUTING.md
!whitepaper.md
